/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #008080;
}

button {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
}
