.card{
  background-color: #424242;
  border-radius: 10px;
}

button {
  margin: 0;
  padding: 1rem;
  border: none;
  box-shadow: none;
  background: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

