form {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 3rem auto;
  width: 50vw;
  padding: 3rem;
  border-radius: 25px;
}

label {
  text-shadow: 1px 1px #000, -1px -1px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000, -1px 0px #000;
}

button {
  background-color: #e91e63;
}
