<div class="container">
    <div class="my-5 mx-auto w-50" *ngIf="load === true">
        <h3>Retrieving Tasks...</h3>
    </div>
    <div *ngIf="load === false">
        <div class="my-5 mx-auto w-50">
            <h1>Completed To-do: </h1>
        </div>

        <ul class="list-group my-1 mx-auto w-50">
            <h3 *ngIf="todosService.checkCompletedTodoList() === 0">No completed tasks found...</h3>
            <li class="list-group-item my-1" *ngFor="let item of todosService.getCompletedTodos(true); let i = index;">
                <div class="d-flex justify-content-between align-items-center">
                    {{item.id}} {{item.title}}
                    <button class="btn btn-danger me-md-2" type="button" (click)="remove(item)">Delete</button>
                </div>
            </li>
        </ul>
    </div>
</div>
