<div class="container">
    <div *ngIf="arrayProducts">
        <div class="card mx-auto my-5" style="max-width: 90vw; max-height: 70vh;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../assets/img/tes{{arrayProducts.id}}.png" style="max-height: 70vh;"
                        class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{arrayProducts.name}}</h5>
                        <p class="card-text details"><em>{{ arrayProducts.details }}</em></p>
                        <h3 class="card-text price">{{arrayProducts.price}}€</h3>
                        <div class="container d-flex justify-content-evenly">
                            <a class="card-link" type="button" (click)="addToCart()">Add to <i
                                    class="bi bi-cart-fill"></i></a>
                            <a class="card-link" [routerLink]="['/']" routerLinkActive="active">Go back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
