h1 {
    color: #fff;
    text-shadow: 1px 0px #000, -1px 0px #000, 0px 1px #000, 0px -1px #000;
}

input {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

li {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    color: purple;
    text-shadow: 1px 0px #000, -1px 0px #000, 0px 1px #000, 0px -1px #000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

li:nth-child(even) {
    background-color: rgba($color: #a3a3a3, $alpha: 1.0);
}
