.counter {
    display: block;
    position: absolute;
    background: #0f52ba;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px;
    margin: -2rem 0 0 3.25rem;
    border-radius: 50%;
    box-shadow: 3px 3px #000;
}
